html {
  background-color: antiquewhite;
  display: flex;
  align-content: space-around;
  justify-content: center;
}

body {
  margin: auto;
  background-image: url("./../../../public/img/mujDen5.gif");
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #4B0082;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Russo One', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}


.dinosaur h2 {
  text-decoration: none;
}


.dino-mino {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  font-size: 1.8rem;
}

.dinosaur {
  width: 350px;
  min-width: 30%;
  max-width: 40%;
  flex-basis: 350px;
  flex-shrink: 1;
}

.dino {
  width: 350Px;
  filter: drop-shadow(1px 15px 1px rgb(51, 255, 58, 0.4));
}


.paws {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  text-shadow: 3px 3px 3px #d860e6;
  flex-shrink: 1;

}

.paws a {
  text-decoration: none;
}

.paw-green {
  transform: scaleX(-1);
  width: 13rem;
  filter: drop-shadow(10px 10px 10px rgb(95, 3, 95));
}

.paw-blue {
  width: 13rem;
  filter: drop-shadow(9px 5px 10px rgb(61, 255, 51));
}
